@import url('./menu.css');

.menu {
  max-width: 250px;
  width: fit-content;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 16px 32px;
  background-color: var(--color-background);
  box-shadow: 1px 0px 0px 0px #DEDEDE;

  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr 1fr;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;

  & .logo__text {
    margin-left: 8px;
  }

  & .logo__nik {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-nikname);
  }

  & .logo__email {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
  }

  & .logo__arrow {
    position: absolute;
    right: -27px;
    top: 16px;
  }
}

.search {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px 16px;
  margin-top: 56px;
  background-color: var(--color-hover);

  & .search__img {
    cursor: pointer;
  }

  & .search__input {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 20px;
    background-color: var(--color-hover);
  }

  & .search__input::placeholder {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
  }
}

.nav {
  padding: 0;

  & .nav__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px 16px;
    margin-top: 16px;
    text-decoration: none;

    &:hover {
      background-color: var(--color-hover);
    }
  }

  & .nav__link {
    margin-left: 20px;
  }
}

.logout {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px 16px;
  text-decoration: none;

  &:hover {
    background-color: var(--color-hover);
  }

  & .logout__text {
    margin-left: 20px;
  }
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  & .radio__text {
    margin-left: 20px;
    margin-right: 26px;
  }

  & .radio__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--color-hover);
    box-sizing: border-box;
    padding: 0px 4px;
  }

  & .radio__input {
    display: none;
  }

  & .radio__label {
    display: flex;
    cursor: pointer;

    & img {
      width: 16px;
      opacity: 0;
    }

    & img.block {
      opacity: 1;
    }
  }
}

.logo__text,
.search__input,
.nav__link,
.logout__text,
.radio__img,
.radio__text {
  display: none;
}

.logo__text.open,
.search__input.open,
.nav__link.open,
.logout__text.open,
.radio__img.open,
.radio__text.open {
  display: block;
}

.logo__arrow.open {
  transform: scaleX(-1);
}